.bg-entiras-primary {
  background-color: #074c97;
}
.bg-entiras-secondary {
  background-color: #fd772d;
}
.bg-entiras-dark {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
a, a:hover {
  color: #fd772d;
}
.entiras-brand {
  height: 2em;
}
.jumbotron {
  background-color: black;
}
@media (min-width: 992px) {
  .jumbotron {
    height: 100%;
  }
}
#_captcha {
  background-color: lightgrey;
}
.bg-entiras-focus-1 {
  background-image: url('https://i.imgur.com/duUZ0Tp.jpg');
  background-position: left;
  background-size: 105%;
}
.bg-entiras-focus-2 {
  background-image: url('https://i.imgur.com/ZiLd6zZ.jpg');
  background-position: left;
  background-size: 155%;
}
.bg-entiras-focus-3 {
  background-image: url('https://i.imgur.com/c49Z7nk.jpg');
  background-position: center;
  background-size: 150%;
}
@font-face {
  font-family: 'desyrelregular';
  src: url('https://res.cloudinary.com/entiras/raw/upload/v1588187690/desyrel_iwosvz.woff2') format('woff2'),
    url('https://res.cloudinary.com/entiras/raw/upload/v1588187690/desyrel_aju6af.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.h-entiras {
  font-family: 'desyrelregular' !important;
  font-weight: bold;
}
.big {
  font-size: 10rem;
  color: #074c97;
}
@font-face {
  font-family: 'icomoon';
  src:  url('https://res.cloudinary.com/entiras/raw/upload/v1590867888/icomoon_jr7bgq.eot?wx45t');
  src:  url('https://res.cloudinary.com/entiras/raw/upload/v1590867888/icomoon_jr7bgq.eot?wx45t#iefix') format('embedded-opentype'),
    url('https://res.cloudinary.com/entiras/raw/upload/v1590867889/icomoon_tfby0i.ttf?wx45t') format('truetype'),
    url('https://res.cloudinary.com/entiras/raw/upload/v1590867888/icomoon_gjhxzj.woff?wx45t') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e902";
}
.icon-bars:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}