.bg-entiras-primary {
  background-color: #074c97;
}
.bg-entiras-secondary {
  background-color: #fd772d;
}
.bg-entiras-dark {
  background-color: rgba(0, 0, 0, 0.7)
}
.card-link, .card-link:hover {
  color: #fd772d;
}
.btn-outline-secondary {
  color: #fd772d;
  border-color: #fd772d;
}
.btn-outline-secondary:hover {
  background-color: #fd772d;
  border-color: #fd772d;
}
.btn-outline-secondary:focus {
  box-shadow: 0 1px 1px rgba(253, 119, 45, 0.075) inset, 0 0 8px rgba(253, 119, 45, 0.6);
}
.entiras-brand {
   height: 2em;
}
.jumbotron {
  background-color: black;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-entiras-focus-1 {
  background-image: url('https://res.cloudinary.com/entiras/image/upload/v1587609028/banca_wlfcjw.jpg');
}
.bg-entiras-focus-2 {
  background-image: url('https://res.cloudinary.com/entiras/image/upload/v1587763727/carton_glsjt5.jpg');
}
img.emoji {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
